<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resource.DibMapper">
    <select id="selectDib" resultType="com.example.movieedu.model.vo.DibVO">
        SELECT * FROM dib WHERE nickname = #{nickname} order by cnt
    </select>

    <insert id="insertDib"  parameterType="com.example.movieedu.model.vo.DibVO">
        <selectKey resultType="int" keyProperty="cnt" order="BEFORE">
            select dib_seq.nextval from dual
        </selectKey>
        INSERT INTO dib(cnt,nickname,imgurl,dibtime) values (#{cnt}, #{nickname}, #{imgurl}, #{dibtime})
    </insert>

   <!-- <update id="updateComment" parameterType="com.example.movieedu.model.vo.CommentVO">
        update comm set cont = #{content}, preHour = #{prehour} where cnt = #{cnt}
    </update>

    <update id="like" parameterType="com.example.movieedu.model.vo.CommentVO"><![CDATA[
        update comm set like_no = #{like} where cnt = #{cnt}
    ]]></update> -->

    <delete id = "deleteDib" parameterType="_int">
        delete from dib where cnt = #{cnt}
    </delete>

</mapper>